{% extends 'app/base.html' %}

{% set hide_sidebar = true %}

{% block content %}
<div class="container-fluid py-4">
  <!--<script src="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.js"></script>-->
  <script src="{{ url_for('static', filename='js/drawflow.min.js') }}" ></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>-->
  <script src="{{ url_for('static', filename='js/font-awesome-513.min.js') }}" ></script>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />-->
  <link href="{{ url_for('static', filename='css/font-awesome-513.min.css') }}" rel="stylesheet" />
  <!--<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">-->
  <link href="{{ url_for('static', filename='css/google-font-apis.min.css') }}" rel="stylesheet" />
  <!--<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>-->
  <script src="{{ url_for('static', filename='js/sweetalert.min.js') }}" ></script>
  <!--<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>-->
  <script src="{{ url_for('static', filename='js/micromodal.min.js') }}" ></script>

  <div class="wrapper">
    <div class="col">
    </div>
    <div class="col-right">
      <div class="menu">
        <ul>
          <li onclick="editor.changeModule('Home'); changeModule(event);" class="selected">Home</li>
          <li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="actionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Tools
              </button>
              <ul class="dropdown-menu" aria-labelledby="actionDropdown">
                <li><h6 class="dropdown-header">Discovery/Reconnaissance</h6></li>
                <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="scans"><i class="fas fa-network-wired"></i>Scan Config</div></li>

                <li><h6 class="dropdown-header">Performance Test</h6></li>
                <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="test_srvr"><i class="fas fa-server"></i>Server</div></li>
                <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="test_clnt"><i class="fas fa-server"></i>Client</div></li>

                <li><h6 class="dropdown-header">Path Trace</h6></li>
                <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="trcrt"><i class="fas fa-route"></i>Traceroute</div></li>
                <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="trcrt_dns"><i class="fas fa-route"></i>DNS Traceroute</div></li>

                <li><h6 class="dropdown-header">Packet Capture</h6></li>
                <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="pcaps"><i class="fas fa-capture"></i>PCAP Config</div></li>

                <li><h6 class="dropdown-header">Alerts</h6></li>
                <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="slack"><i class="fab fa-slack"></i>Slack</div></li>
                <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="jsm"><i class="fab fa-jira"></i>Jira</div></li>
                <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="email"><i class="fas fa-envelope"></i>Email</div></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="probeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Probes 
              </button>
              <ul class="dropdown-menu" aria-labelledby="probeDropdown">
                {% for probe in all_probes.values() %}
                  <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" id="{{ probe.prb_id }}" data-url="{{ probe.url }}" data-node="{{ probe.prb_id }}" data-id="{{ probe.prb_id }}" data-api="{{ probe.prb_api_key }}"><i class="fas fa-mouse"></i>Site: {{ probe.site }} | Name: {{ probe.name }}</div></li>
                {% endfor %}
              </ul>
            </div>
          </li>
          <li>
            <input type="text" id="flow-save-name" class="form-control" placeholder="Name your workflow...">
          </li>
        </ul>
      </div>
      <div id="drawflow" style="background-color: gray;" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div id="save-flow" class="btn-export"><i class="fa-solid fa-floppy-disk"></i>Save</div>
        <div class="btn-clear" onclick="editor.clearModuleSelected()">Clear</div>
        <div class="btn-lock">
          <i id="lock" class="fas fa-lock" onclick="editor.editor_mode='fixed'; changeMode('lock');"></i>
          <i id="unlock" class="fas fa-lock-open" onclick="editor.editor_mode='edit'; changeMode('unlock');" style="display:none;"></i>
        </div>
        <div class="bar-zoom">
          <i class="fas fa-search-minus" onclick="editor.zoom_out()"></i>
          <i class="fas fa-search" onclick="editor.zoom_reset()"></i>
          <i class="fas fa-search-plus" onclick="editor.zoom_in()"></i>
        </div>
      </div>
    </div>

  </div>

  <div class="modal fade" id="schedulerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="schedulerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="schedulerModalLabel">Schedule Task</h5>
          <div id="task-scheduler-id-holder"></div>
          <div id="task-scheduler-comment-holder"></div>
          <div id="task-scheduler-enabled-holder"></div>
          <div id="task-scheduler-name-holder"></div>
          <div id="task-scheduler-type-holder"></div>
          <div id="task-scheduler-site-holder"></div>
          <div id="task-scheduler-timestamp-holder"></div>
          <div id="task-scheduler-prb_id-holder"></div>
        
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">
            <div class="form-floating mb-3">
              <h6 class="form-label bold">Task Reschedule Settings</h6>
            </div>
            <div class="form-floating mb-3">
              <h6 class="form-label bold">Task Run Schedule</h6>
              <p class="form-text">Use the fields below to set up a custom schedule for the selected task. Enter times ascomma-separated values or ranges.</p>
              <div class="row mb-3">
                  <div class="col-12">
                    <label class="form-label">Choose day(s) of week to run task. Available values: 0 (Sunday) to 6 (Saturday).</label>
                    <input class="form-control" type="text" id="scheduler-days">
                    <div class="form-text">To run every Sunday, Wednesday and Saturday enter as such: 0,3,6.</div>
                  </div>
              </div>
              <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label">Choose minute(s) to run task. Available values: 0 to 59.</label>
                    <input class="form-control" type="text" id="scheduler-minutes">
                    <div class="form-text">For specific intervals, enter start,end,interval (e.g., 5,50,5). The task would run every 5 minutes from 5 to 50. </div> 
                  </div>
              </div>
              <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label">Choose day(s) of month to run task. Available values: 1 to 31.</label>
                    <input class="form-control" type="text" id="scheduler-dom">
                    <div class="form-text">For specific intervals, enter start,end,interval (e.g., 1,31,1). The task would run every day from 1 to 31. </div> 
                  </div>
              </div>
              <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label">Choose month(s) to run task. Available values: 1 to 12.</label>
                    <input class="form-control" type="text" id="scheduler-months">
                    <div class="form-text">For specific intervals, enter start,end,interval (e.g., 1,12,1). The task would run every month from January to December. </div> 
                  </div>
              </div>
              <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label">Choose hour(s) to run task. Available values: 0 to 23.</label>
                    <input class="form-control" type="text" id="scheduler-hours">
                    <div class="form-text">For specific intervals, enter start,end,interval (e.g., 0,23,1). The task would run every hour from 0 to 23. </div> 
                  </div>  
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="scheduler-init">
            <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
            <span class="scheduler-init-button-text">Create Flow</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="flowConfirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="flowConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="flowConfirmModalLabel">Save Flow</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="form-text" id="flowConfirmModalText">Are you sure you want to save this Flow?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="flow-confirm-init">Save Flow & Set Schedule</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    const mntrURL = "{{ mntr_url }}";
    const flowID = "{{ flow_id }}";
    
    const isGenBot= "{{ is_general_bot }}";
    let nodeProbeCounter = 0;
    let currentProbeNodes = {};
    let currentSelectedProbe = null;

    let alertCounter = 0;
    let currentAlertNodes = {};
    let currentSelectedAlert = null;

    let toolCounter = 0;
    let currentToolNodes = {};
    let currentSelectedTool = null;
    
    const flowNotificationModal = new bootstrap.Modal(document.getElementById('notificationModal'));

    function setFlowSchedule(taskData) {
      const scheduleDays = document.getElementById('scheduler-days');
      const scheduleMonths = document.getElementById('scheduler-months');
      const scheduleHours = document.getElementById('scheduler-hours');
      const scheduleMinutes = document.getElementById('scheduler-minutes');
      const scheduleDom = document.getElementById('scheduler-dom');

      if (scheduleDays.value){
        taskData["schedule"]["days"] = scheduleDays.value;
      }

      if (scheduleMonths.value){
        taskData["schedule"]["months"] = scheduleMonths.value;
      }

      if (scheduleHours.value){
        taskData["schedule"]["hours"] = scheduleHours.value;
      }

      if (scheduleMinutes.value){
        taskData["schedule"]["minutes"] = scheduleMinutes.value;
      }

      if (scheduleDom.value){
        taskData["schedule"]["dom"] = scheduleDom.value;
      } 

      return taskData;
    }

    function resetFlowSchedule() {
      document.getElementById('scheduler-days').value = "";
      document.getElementById('scheduler-months').value = "";
      document.getElementById('scheduler-hours').value = "";
      document.getElementById('scheduler-minutes').value = "";
      document.getElementById('scheduler-dom').value = "";
    }

    const flowSchedulerModal = new bootstrap.Modal(document.getElementById('schedulerModal'));
    const flowInit = document.getElementById('scheduler-init');
    const flowConfirmModal = new bootstrap.Modal(document.getElementById('flowConfirmModal'));
    const flowConfirmInit = document.getElementById('flow-confirm-init');
    const id = document.getElementById("drawflow");
    const editor = new Drawflow(id);
    editor.reroute = true;
    editor.start();

    if (flowID !== "default") {
      const payload = { id: flowID };  
      let flowLoadResp = null
      if (isGenBot === 'n') {
        const selectedProbeURL="{{ probe_api_url }}";
        flowLoadResp = await fetch(`https://${selectedProbeURL}/v1/api/flows/load`, {method:'POST', headers: {'Content-Type': 'application/json', 'x-api-key': "{{ api_key }}"}, body:JSON.stringify(payload)});
      } else {
        flowLoadResp = await fetch(`https://${mntrURL}/v1/api/core/flows/load?sess_id={{ cur_usr_id }}`, {method:'POST', credentials:"same-origin", headers: {'Content-Type': 'application/json'}, body:JSON.stringify(payload)});
      }
      const flowLoadRespJson = await flowLoadResp.json();
      if (flowLoadResp.ok) {
        editor.clearModuleSelected();
        editor.import(JSON.parse(j.flow));
        document.getElementById('flow-save-name').value = j.name;
        document.getElementById('notificationModalLabel').textContent = "Flow Loaded Successfully";
        document.getElementById('notif-modal-text').textContent = `The flow: "${j.name}" has been loaded successfully.`;
        flowNotificationModal.show();
      }
    } else {
      const dataToImport =  {"drawflow":{"Home":{"data":{
            "1":{"id":1,"name":"smartbot","data":{type: 'agent', name: 'smartbot'},"class":"smartbot","html":`
            <div>
              <div class="title-box"><i class="fas fa-robot"></i>smartbot</div>
              <div id="is_probe_bot" data-botType="n"></div>
              <div class="box">
                <div class="form-floating mb-3">
                  <label class="form-label">Bot Name</label>
                  <input type="text" class="form-control" placeholder="Enter a name for this bot..." df-bot-name>
                </div>
                <div class="form-floating mb-3">
                  <label class="form-label">Bot Prompt</label>
                  <input type="text" class="form-control" placeholder="Enter a prompt for this bot..." df-bot-prompt>
                </div>
              </div>
            </div>
              `, "typenode": false, "inputs":{},"outputs":{},"pos_x":50,"pos_y":50}
          ,
          }}}};

      editor.import(dataToImport);
    }
    
    // Events!
    editor.on('nodeCreated', function(id) {
      console.log("Node created " + id);
      currentSelectedProbe = editor.getNodeFromId(id);
      if (currentSelectedProbe.data.type === 'probe') {
        nodeProbeCounter++;
        currentProbeNodes[id] = currentSelectedProbe;
      } else if (currentSelectedProbe.data.type === 'alert') {
        alertCounter++;
        currentAlertNodes[id] = currentSelectedProbe;
        currentSelectedAlert = currentSelectedProbe;
      } else if (currentSelectedProbe.data.type === 'tool') {
        toolCounter++;
        currentToolNodes[id] = currentSelectedProbe;
        currentSelectedTool = currentSelectedProbe;
      } else {
        console.log("Node created" + id);
      }
    })

    editor.on('nodeRemoved', function(id) {
      console.log("Node removed " + id);
      if (currentProbeNodes.hasOwnProperty(id)) {
        delete currentProbeNodes[id];
        nodeProbeCounter--;
        currentSelectedProbe = null;
      } else if (currentAlertNodes.hasOwnProperty(id)) {
        delete currentAlertNodes[id];
        alertCounter--;
        currentSelectedAlert = null;
      } else if (currentToolNodes.hasOwnProperty(id)) {
        delete currentToolNodes[id];
        toolCounter--;
        currentSelectedTool = null;
      } else {
        console.log("Node removed" + id);
      }
    })

    editor.on('nodeSelected', function(id) {
      console.log("Node selected " + id);
    })

    editor.on('moduleCreated', function(name) {
      console.log("Module Created " + name);
    })

    editor.on('moduleChanged', function(name) {
      console.log("Module Changed " + name);
    })

    editor.on('connectionCreated', function(connection) {
      console.log('Connection created');
      console.log(connection);
    })

    editor.on('connectionRemoved', function(connection) {
      console.log('Connection removed');
      console.log(connection);
    })

    editor.on('mouseMove', function(position) {
      console.log('Position mouse x:' + position.x + ' y:'+ position.y);
    })

    editor.on('nodeMoved', function(id) {
      console.log("Node moved " + id);
    })

    editor.on('zoom', function(zoom) {
      console.log('Zoom level ' + zoom);
    })

    editor.on('translate', function(position) {
      console.log('Translate x:' + position.x + ' y:'+ position.y);
    })

    editor.on('addReroute', function(id) {
      console.log("Reroute added " + id);
    })

    editor.on('removeReroute', function(id) {
      console.log("Reroute removed " + id);
    })

    /* DRAG EVENT */

    // Save flow
    document.getElementById('save-flow').addEventListener('click', async ()=>{
      flowConfirmModal.show();
    });

    flowConfirmInit.addEventListener('click', async () => {
      flowSchedulerModal.show();
    });

    flowInit.addEventListener('click', async () => {
      const spinner = this.querySelector('.spinner-grow');
      const buttonText = this.querySelector('.prb-tsk-trc-button-text');

      spinner.classList.remove('d-none');
      spinner.classList.add('d-inline-block');
      buttonText.textContent = "Initializing Task...";      
      this.disabled = true;

      const savename = document.getElementById('flow-save-name').value;

      if (savename !== null && savename !== "") {
        const data = editor.export();
        const flow = JSON.stringify(data, null,4);
        let newFlowResp = null;

        let payload = {
          "flow": flow,
          "id": flowID,
          "name": savename,
          "user_id": "{{ cur_usr_id }}",
          "type": isGenBot,
          "schedule": {}
        };

        payload = setFlowSchedule(payload);

        if (isGenBot === 'n') {
          const prbID = "{{ prb_id }}";
          payload["prb_id"] = prbID;
          newFlowResp = await fetch(`https://${selectedProbeURL}/v1/api/flows/new`, {method:'POST', headers: {'Content-Type': 'application/json', 'x-api-key': "{{ api_key }}"}, body:JSON.stringify(payload)});
        } else {
          newFlowResp = await fetch(`https://${mntrURL}/v1/api/core/flows/save?sess_id={{ cur_usr_id }}`, {method: "POST", credentials:"same-origin", headers: {"Content-Type": "application/json"}, body: JSON.stringify(payload)});
        }

        if (newFlowResp.ok) {
            spinner.classList.remove('d-inline-block');
            spinner.classList.add('d-none');
            buttonText.textContent = "Initialize Task";
            this.disabled = false;
            document.getElementById('notificationModalLabel').textContent = "Flow Saved Successfully";
            document.getElementById('notif-modal-text').textContent = `The flow: "${savename}" has been saved successfully and assigned to probe: "${prbID}".`;
            flowNotificationModal.show();
            return;
          } else {
            spinner.classList.remove('d-inline-block');
            spinner.classList.add('d-none');
            buttonText.textContent = "Initialize Task";
            this.disabled = false;
            document.getElementById('notificationModalLabel').textContent = "Error Saving Flow";
            document.getElementById('notif-modal-text').textContent = `There was an error saving the flow: "${savename}". Please try again.`;
            flowNotificationModal.show();
            return;
          }
        
      } else {
        spinner.classList.remove('d-inline-block');
        spinner.classList.add('d-none');
        buttonText.textContent = "Initialize Task";
        this.disabled = false;
        document.getElementById('notificationModalLabel').textContent = "No Flow Name";
        document.getElementById('notif-modal-text').textContent = `Please enter a name for your flow before saving.`;
        flowNotificationModal.show();
        return;
      }
    });

    /* Mouse and Touch Actions */

    const elements = document.getElementsByClassName('drag-drawflow');
    for (const i = 0; i < elements.length; i++) {
      elements[i].addEventListener('touchend', drop, false);
      elements[i].addEventListener('touchmove', positionMobile, false);
      elements[i].addEventListener('touchstart', drag, false );
    }

    const mobile_item_selec = '';
    const mobile_last_move = null;
   function positionMobile(ev) {
     mobile_last_move = ev;
   }

   function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      if (ev.type === "touchstart") {
        mobile_item_selec = ev.target.closest(".drag-drawflow").getAttribute('data-node');
      } else {
      ev.dataTransfer.setData("node", ev.target.getAttribute('data-node'));
      }
    }

    function drop(ev) {
      if (ev.type === "touchend") {
        const parentdrawflow = document.elementFromPoint( mobile_last_move.touches[0].clientX, mobile_last_move.touches[0].clientY).closest("#drawflow");
        if(parentdrawflow != null) {
          if (mobile_item_selec.startsWith("prb:") && nodeProbeCounter === 3) {
            document.getElementById('notificationModalLabel').textContent = "Probe Limit Reached";
            document.getElementById('notif-modal-text').textContent = `You have reached the maximum number of probes allowed. Please remove a probe before adding another one.`;
            flowNotificationModal.show();
            return;
          }

          if (mobile_item_selec.startsWith("prb:") && isGenBot === "n") {
            document.getElementById('notificationModalLabel').textContent = "Alert";
            document.getElementById('notif-modal-text').textContent = `Calling remote probe tools from a probe bot is not allowed. Please create a general bot for remote tool calling.`;
            flowNotificationModal.show();
            return;
          }

          if (mobile_item_selec.startsWith("prb:") && isGenBot === "y") {
            const selectedProbeTools = document.getElementById(mobile_item_selec);
            const probeUrl = selectedProbeTools.dataset.url;
            const probeApi = selectedProbeTools.dataset.api;

            if (probeUrl === "" || probeApi === "") {
              document.getElementById('notificationModalLabel').textContent = "Alert";
              document.getElementById('notif-modal-text').textContent = `The selected probe does not have the necessary information to be added to the flow. Please check the probe configuration.`;
              flowNotificationModal.show();
              return;
            }

            addNodeToDrawFlow(mobile_item_selec, mobile_last_move.touches[0].clientX, mobile_last_move.touches[0].clientY, probeApi, probeUrl);
          }

          addNodeToDrawFlow(mobile_item_selec, mobile_last_move.touches[0].clientX, mobile_last_move.touches[0].clientY);
        }
        mobile_item_selec = '';
      } else {
        ev.preventDefault();
        const data = ev.dataTransfer.getData("node");
        if (data.startsWith("prb:") && nodeProbeCounter === 3) {
          document.getElementById('notificationModalLabel').textContent = "Probe Limit Reached";
          document.getElementById('notif-modal-text').textContent = `You have reached the maximum number of probes allowed. Please remove a probe before adding another one.`;
          flowNotificationModal.show();
          return;
        }
        if (data.startsWith("prb:") && isGenBot === "n") {
          document.getElementById('notificationModalLabel').textContent = "Alert";
          document.getElementById('notif-modal-text').textContent = `Calling remote probe tools from a probe bot is not allowed. Please create a general bot for remote tool calling.`;
          flowNotificationModal.show();
          return;
        }
        if (data.startsWith("prb:") && isGenBot === "y") {
          const selectedProbeTools = document.getElementById(data);
          const probeUrl = selectedProbeTools.dataset.url;
          const probeApi = selectedProbeTools.dataset.api;

          if (probeUrl === "" || probeApi === "") {
            document.getElementById('notificationModalLabel').textContent = "Alert";
            document.getElementById('notif-modal-text').textContent = `The selected probe does not have the necessary information to be added to the flow. Please check the probe configuration.`;
            flowNotificationModal.show();
            return;
          }

          addNodeToDrawFlow(data, ev.clientX, ev.clientY, probeApi, probeUrl);
        }

        addNodeToDrawFlow(data, ev.clientX, ev.clientY);
      }
    }

    function addNodeToDrawFlow(name, pos_x, pos_y, api_key=null, probe_url=null) {
      if(editor.editor_mode === 'fixed') {
        return;
      }
      pos_x = pos_x * ( editor.precanvas.clientWidth / (editor.precanvas.clientWidth * editor.zoom)) - (editor.precanvas.getBoundingClientRect().x * ( editor.precanvas.clientWidth / (editor.precanvas.clientWidth * editor.zoom)));
      pos_y = pos_y * ( editor.precanvas.clientHeight / (editor.precanvas.clientHeight * editor.zoom)) - (editor.precanvas.getBoundingClientRect().y * ( editor.precanvas.clientHeight / (editor.precanvas.clientHeight * editor.zoom)));

      if (typeof name === "string" && name.startsWith("prb:")) {
        const probe = `
              <div class="title-box">Remote Probe</div>
              <div class="box" style="background-color: #8b7da8;">
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-trace-tab" data-bs-toggle="tab" data-bs-target="#nav-trace" type="button" role="tab" aria-controls="nav-trace" aria-selected="true">Path Trace</button>
                    <button class="nav-link" id="nav-perf-tab" data-bs-toggle="tab" data-bs-target="#nav-perf" type="button" role="tab" aria-controls="nav-perf" aria-selected="false">Performance Test</button>
                    <button class="nav-link" id="nav-scans-tab" data-bs-toggle="tab" data-bs-target="#nav-scans" type="button" role="tab" aria-controls="nav-scans" aria-selected="false">Scans</button>
                    <button class="nav-link" id="nav-pcap-tab" data-bs-toggle="tab" data-bs-target="#nav-pcap" type="button" role="tab" aria-controls="nav-pcap" aria-selected="false">Packet Capture</button>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-trace" role="tabpanel" aria-labelledby="nav-trace-tab">
                    <form method="POST">
                      <div class="form-floating mb-3">
                        <label class="form-label">Trace Type</label>
                        <select class="form-select" df-prb-trcrttype>
                          <option value="trcrt">Traceroute</option>
                          <option value="trcrt_dns">DNS Traceroute</option>
                        </select>
                      </div>
                      <div class="form-floating mb-3">
                        <label class="form-label">Target</label>
                        <input type="text" class="form-control" placeholder="Target" df-prb-trcrttarget>
                      </div>
                      <div class="form-floating mb-3">
                        <label class="form-label">Options</label>
                        <input type="text" class="form-control" placeholder="Enter traceroute options" df-prb-trcrtoptions>
                      </div>
                      <div class="form-floating mb-3">
                        <label class="form-label">DNS Server</label>
                        <input type="text" class="form-control" placeholder="DNS server to test. defaults to 8.8.8.8 (optional)" df-prb-trcrtdnsserver>
                      </div>
                      <div class="form-floating mb-3">
                        <label class="form-label">Packet Length</label>
                        <input type="number" class="form-control" placeholder="Enter preferred packet length (traceroute only)" df-prb-trcrtpktlen>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane fade" id="nav-perf" role="tabpanel" aria-labelledby="nav-perf-tab">
                    <form method="POST">
                      <div class="form-floating mb-3">
                        <label class="form-label">Endpoint Type</label>
                        <select id="spdtst-dropdown" class="form-select" df-prb-perftype>
                          <option value="test_srvr">Server Mode</option>
                          <option value="test_clnt">Client Mode</option>
                        </select>
                      </div>
                      <div class="form-floating mb-3">
                        <label class="form-label">Options</label>
                        <input type="text" class="form-control" placeholder="Enter performance test options" df-prb-perfoptions>
                      </div>
                      <div class="form-floating mb-3">
                        <label class="form-label">Server Endpoint</label>
                        <input type="text" class="form-control" placeholder="For probes set in Client mode only" df-prb-perfserver>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane fade" id="nav-scans" role="tabpanel" aria-labelledby="nav-scans-tab">
                    <form method="POST">
                      <div class="form-floating mb-3">
                        <label class="form-label">Select Scan Type</label>
                        <select class="form-select" aria-label="Select Scan Type" df-prb-scantype>
                          <option value="scan_vuln">Vulnerability</option>
                          <option value="scan_cust">Custom</option>
                          <option value="scan_os">OS</option> 
                          <option value="scan_srvc">Service</option>
                          <option value="scan_map">Discovery</option>
                          <option value="scan_snmp">SNMP</option>
                        </select>
                      </div>
                      <div class="form-floating mb-3">
                        <div class="row mb-3">
                          <div class="col-6">
                            <label class="form-label">Target</label>
                            <input type="text" class="form-control" placeholder="Enter target for the scan" df-prb-scantarget>
                          </div>
                          <div class="col-6 mb-3">
                            <label class="form-label">Target Interface</label>
                            <select class="form-select mb-3" df-prb-scandeftgtiface>
                              <option value="y">yes</option>
                              <option value="n">no</option>
                            </select>
                            <br>
                            <input type="text" class="form-control" placeholder="Enter target interface for scan (optional)" df-prb-scantgtiface>
                          </div>
                        </div> 
                      </div>
                      <div class="form-floating mb-3">
                        <div class="row mb-3">
                          <div class="col-6 mb-3">
                            <label class="form-label">SNMP scripts</label>
                            <input type="text" class="form-control" placeholder="Enter comma separated list of nmap SNMP scripts or 'all' for full scan" df-prb-scansnmpscripts>
                          </div>
                          <div class="col-6 mb-3">
                            <label class="form-check-label">SNMP Community</label>
                            <input type="text" class="form-control" placeholder="Enter SNMP community string" df-prb-snmpcommunity>
                          </div>
                        </div>
                      </div>
                      <div class="form-floating mb-3">
                        <div class="row mb-3">
                          <div class="col-6 mb-3">
                            <label class="form-check-label">Vulnerability Minimum Score</label>
                            <input type="number" class="form-control" placeholder="Enter minimum vulnerability score to report (0-10)" df-prb-scanvulnscore>
                          </div>
                          <div class="col-6 mb-3">
                            <label class="form-label">Custom nmap Command</label>
                            <p class="lead">Enter any nmap options to create your own custom command (do not enter 'nmap' in front of your options.).</p>
                            <input type="text" class="form-control" placeholder="Enter command options" df-prb-scanoptions>
                          </div>
                        </div>
                      </div>
                      <div class="form-floating mb-3">
                        <div class="row mb-3">
                          <div class="col-6 mb-3">
                            <label class="form-label">Discovery TCP SYN Ports</label>
                            <input type="text" class="form-control" placeholder="Enter comma separated list of TCP SYN ports to scan during discovery" df-prb-scantcpsyn>
                          </div>
                          <div class="col-6 mb-3">
                            <label class="form-label">Discovery TCP ACK Ports</label>
                            <input type="text" class="form-control" placeholder="Enter comma separated list of TCP ACK ports to scan during discovery" df-prb-scantcpack>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane fade" id="nav-pcap" role="tabpanel" aria-labelledby="nav-pcap-tab">
                    <form method="POST">
                      <div class="form-floating mb-3">
                        <div class="row mb-3">
                          <div class="col-6 mb-3">
                            <label class="form-label">Capture Mode</label>
                            <select class="form-select" df-prb-pcapmode>
                              <option value="pcap_lcl">Local Capture</option>
                              <option value="pcap_tux">Remote Linux Capture</option>
                              <option value="pcap_win">Remote Windows Capture</option>
                            </select>
                          </div>
                          <div class="col-6 mb-3">
                            <label class="form-label">Use Default Local Interface</label>
                            <select class="form-select mb-3" df-prb-pcapdefiface>
                              <option value="y">yes</option>
                              <option value="n">no</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Local interface to use." df-prb-pcaplcliface>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-6 mb-3">
                            <label class="form-label">Remote Host</label>
                            <input type="text" class="form-control" placeholder="IP of remote host for capture" df-prb-pcaprmhost>
                          </div>
                          <div class="col-6 mb-3">
                            <label class="form-label">Remote User</label>
                            <input type="text" class="form-control" placeholder="Username for remote host" df-prb-pcaprmuser>
                          </div>
                        </div>
                      </div>
                      <div class="form-floating mb-3">
                        <div class="row mb-3">
                          <div class="col-6">
                            <label class="form-label">Remote Password</label>
                            <input type="password" class="form-control" placeholder="Password for remote host" df-prb-pcaprmpass>
                          </div>
                          <div class="col-6">
                            <label class="form-label">Remote Interface</label>
                            <input type="password" class="form-control" placeholder="Capture interface for remote host" df-prb-pcaprmiface>
                          </div>
                        </div>
                      </div>
                      <div class="form-floating mb-3">
                        <div class="row mb-3">
                          <div class="col-6">
                            <label class="form-label">Capture Count (Linux & Local only)</label>
                            <input type="number" class="form-control" placeholder="The number of packets to capture" df-prb-pcapcount>
                          </div>
                          <div class="col-6">
                            <label class="form-label">Capture Duration (Windows only)</label>
                            <input type="number" class="form-control" placeholder="Capture duration in seconds" df-prb-pcapduration>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>              
              </div>
              `;
        const probe_data = { type: 'probe', name: name, url: probe_url, api: api_key };
        editor.addNode(name, 0, 0, pos_x, pos_y, name, probe_data, probe);  
      } else if (typeof name === 'string' && name === 'slack' || name === 'jira' || name === 'email') {
        const alert = `
            <div>
              <div class="title-box"><i class="fa-solid fa-circle-exclamation"></i></i>${name} Alert</div>
              <div class="box">
              </div>
            </div>
            `;
            const alert_data = {type: 'alert', name: name}
            editor.addNode(name, 0, 0, pos_x, pos_y, name, alert_data, alert);
      } else {
        if (isGenBot === "y") {
            document.getElementById('notificationModalLabel').textContent = "Alert";
            document.getElementById('notif-modal-text').textContent = `Calling local probe tools from a general bot is not allowed. If you wish to have your bot work on a specific probe, please access the flow editor from the probe dashboard.`;
            flowNotificationModal.show();
            return;
          } else {

            switch (name) {
              case 'scans':
                const scan = `
                <div>
                  <div class="title-box"><i class="fab fa-telegram-plane"></i>Network Scans</div>
                  <div class="box">
                    <form method="POST">
                      <div class="form-floating mb-3">
                        <label class="form-label">Select Scan Type</label>
                        <select class="form-select" aria-label="Select Scan Type" df-scan-type>
                          <option value="scan_vuln">Vulnerability Assessment</option>
                          <option value="scan_cust">Custom Scan</option>
                          <option value="scan_os">OS Discovery</option> 
                          <option value="scan_srvc">Host Service(s) Discovery</option>
                          <option value="scan_map">Host Discovery</option>
                          <option value="scan_snmp">SNMP Discovery</option>
                        </select>
                      </div>
                      <div class="form-floating mb-3">
                        <div class="row mb-3">
                          <div class="col-6">
                            <label class="form-label">Target</label>
                            <input type="text" class="form-control" placeholder="Enter target for the scan" df-scan-target>
                          </div>
                          <div class="col-6 mb-3">
                            <label class="form-label">Use Default Interface?</label>
                            <select class="form-select mb-3" df-scan-useiface>
                              <option value="y">yes</option>
                              <option value="n">no</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Enter target interface for scan (optional)" df-scan-iface>
                          </div>
                        </div> 
                      </div>
                      <div class="form-floating mb-3">
                        <div class="row mb-3">
                          <div class="col-6 mb-3">
                            <label class="form-label">Custom nmap Command</label>
                            <p class="lead">Enter any nmap options to create your own custom command (do not enter 'nmap' in front of your options.).</p>
                            <input type="text" class="form-control" df-scan-options>
                          </div>
                          <div class="col-6 mb-3">
                            <label class="form-check-label">Vulnerability Assessment Score</label>
                            <p class="lead">Enter the minimum CVSS score the scan should flag in the report.</p>
                            <input type="text" class="form-control" df-scan-vulnscore>
                          </div>
                        </div>
                      </div>
                      <div class="form-floating mb-3">
                        <div class="row mb-3">
                          <div class="col-6 mb-3">
                            <h6>Host Discovery Settings</h6>
                            <label class="form-label">SYN Scan Ports</label>
                            <p class="lead">Enter comma separated list of ports to run SYN scan against ie '22,23,80,443,830,3389'</p>
                            <input type="text" class="form-control" df-scan-map-syn>
                          </div>
                          <div class="col-6 mb-3">
                            <label class="form-check-label">ACK Scan ports</label>
                            <p class="lead">Enter comma separated list of ports to run ACK scan against ie '80,443'</p>
                            <input type="text" class="form-control" placeholder="Enter SNMP community string" df-scan-map-ack>
                          </div>
                        </div>
                      </div>
                      <div class="form-floating mb-3">
                        <div class="row mb-3 text-align-center">
                          <h6>SNMP Disocvery Settings</h6>
                          <div class="col-6 mb-3">
                            <label class="form-label">SNMP scripts</label>
                            <input type="text" class="form-control" placeholder="Enter comma separated list of custom nmap SNMP scripts to run ie 'snmp-info,snmp-sysdescr'" df-scan-snmpscripts>
                          </div>
                          <div class="col-6 mb-3">
                            <label class="form-check-label">SNMP Community</label>
                            <input type="text" class="form-control" placeholder="Enter SNMP community string" df-scan-snmpcommunity>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                  `;
                const scan_data = {type: 'tool', name: name}
                editor.addNode(name, 0, 0, pos_x, pos_y, name, scan_data, scan );
                break;
              case 'pcaps':
                const pcap = `
                <div>
                  <div class="title-box"><i class="fab fa-telegram-plane"></i>Packet Capture</div>
                  <div class="box">
                    <form method="POST">
                      <div class="form-floating mb-3">
                        <div class="row mb-3">
                          <div class="col-6 mb-3">
                            <label class="form-label">Capture Mode</label>
                            <select class="form-select" df-pcap-mode>
                              <option value="pcap_lcl">Local Capture</option>
                              <option value="pcap_tux">Remote Linux Capture</option>
                              <option value="pcap_win">Remote Windows Capture</option>
                            </select>
                          </div>
                          <div class="col-6 mb-3">
                            <label class="form-label">Use Default Local Interface</label>
                            <select class="form-select mb-3" df-pcap-useiface>
                              <option value="y">yes</option>
                              <option value="n">no</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Enter local interface to use." df-pcap-iface>
                          </div>
                        </div>    
                      </div>
                      <div class="form-floating mb-3">
                        <div class="row mb-3">
                          <div class="col-6 mb-3">
                            <label class="form-label">Remote Host</label>
                            <input type="text" class="form-control" placeholder="Enter IP of remote host for capture" df-pcap-rmhost>
                          </div>
                          <div class="col-6 mb-3">
                            <label class="form-label">Remote User</label>
                            <input type="text" class="form-control" placeholder="Enter username for remote host" df-pcap-rmuser>
                          </div>
                        </div>
                      </div> 
                      <div class="form-floating mb-3">
                        <div class="row mb-3">
                          <div class="col-6">
                            <label class="form-label">Remote Password</label>
                            <input type="password" class="form-control" placeholder="Enter password for remote host" df-pcap-rmpass>
                          </div>
                          <div class="col-6">
                            <label class="form-label">Remote Interface</label>
                            <input type="password" class="form-control" placeholder="Enter capture interface for remote host" df-pcap-rmiface>
                          </div>
                        </div>
                      </div>
                      <div class="form-floating mb-3">
                        <div class="row mb-3">
                          <div class="col-6">
                            <label class="form-label">Capture Count (Linux & Local only)</label>
                            <input type="number" class="form-control" placeholder="Enter the number of packets to capture" df-pcap-count>
                          </div>
                          <div class="col-6">
                            <label class="form-label">Capture Duration (Windows only)</label>
                            <input type="number" class="form-control" placeholder="Enter capture duration in seconds" df-pcap-duration>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                  `;
                const pcap_data = {type: 'tool', name: name}
                editor.addNode(name, 0, 0, pos_x, pos_y, name, pcap_data, pcap );
                break;
              case 'test_srvr':
                const server = `
                  <div style="background-color: #8b7da8;>
                    <div class="title-box">Performance Test Server</div>
                    <div class="box" style="background-color: #8b7da8;">
                      <div class="form-floating mb-3">
                        <label class="form-label">Command Options</label>
                        <input type="text" class="form-control" df-perfs-options>
                      </div>
                      <div class="form-floating mb-3">
                        <label class="form-label">Interface Bind Settings</label>
                        <input type="text" class="form-control" placeholder="Enter IP (interface) to bind to..." df-perfs-bind>
                        <div class="form-text">Defaults to all interfaces (0.0.0.0) (optional)</div>
                      </div>
                    </div>
                  </div>
                  `;
                const server_data = {type: 'tool', name: name}
                editor.addNode(name, 0, 0, pos_x, pos_y, name, server_data, server );
                break;
              case 'test_clnt':
                const client = `
                  <div style="background-color: #8b7da8;>
                    <div class="title-box">Performance Test Client</div>
                    <div class="box" style="background-color: #8b7da8;">
                      <div class="form-floating mb-3">
                        <label class="form-label">Server Endpoint</label>
                        <input type="text" class="form-control" placeholder="Enter IP address of server endpoint..." df-perfc-server>
                        <div class="form-text">NOTICE: For probes set in Client mode only</div>
                      </div>
                      <div class="form-floating mb-3">
                        <label class="form-label">Command Options</label>
                        <input type="text" class="form-control" df-perfc-options>
                      </div>
                      <div class="form-floating mb-3">
                        <label class="form-label">Interface Bind Settings</label>
                        <input type="text" class="form-control" placeholder="Enter IP (interface) to bind to..." df-perfc-bind>
                        <div class="form-text">Defaults to all interfaces (0.0.0.0) (optional)</div>
                      </div>
                    </div>
                  </div>
                  `;
                const client_data = {type: 'tool', name: name}
                editor.addNode(name, 0, 0, pos_x, pos_y, name, client_data, client );
                break;
              case 'trcrt':
                const trcrt = `
                  <div style="background-color: #8b7da8;>
                    <div class="title-box">Traceroute </div>
                    <div class="box" style="background-color: #8b7da8;">
                      <div class="form-floating mb-3">
                        <label class="form-label">Traceroute Target</label>
                        <input type="text" class="form-control" placeholder="Enter target" df-trcrt-target>
                      </div>
                      <div class="form-floating mb-3">
                        <label class="form-label">Command Options</label>
                        <input type="text" class="form-control" placeholder="Enter cmd options if necessary" df-trcrt-options>
                      </div>
                      <div class="form-floating mb-3">
                        <label class="form-label">Preferred Packet Length</label>
                        <input type="text" class="form-control" placeholder="Enter preferred packet length if necessary" df-trcrt-packetlen>
                      </div>
                    </div>
                  </div>
                  `;
                const trcrt_data = {type: 'tool', name: name}
                editor.addNode(name, 0, 0, pos_x, pos_y, name, trcrt_data, trcrt );
                break;
              case 'trcrt_dns': 
                  const trcrtdns = `
                  <div style="background-color: #8b7da8;">
                    <div class="title-box">DNS Traceroute </div>
                    <div class="box" style="background-color: #8b7da8;">
                      <div class="form-floating mb-3">
                        <label class="form-label">Traceroute Target</label>
                        <input type="text" class="form-control" placeholder="Enter target" df-trcrtdns-target>
                      </div>
                      <div class="form-floating mb-3">
                        <label class="form-label">Command Options</label>
                        <input type="text" class="form-control" placeholder="Enter cmd options if necessary" df-trcrtdns-options>
                      </div>
                      <div class="form-floating mb-3">
                        <label class="form-label">DNS Server</label>
                        <input type="text" class="form-control" placeholder="Enter DNS server for test if necessary\n(default 8.8.8.8)" df-trcrtdns-server>
                      </div>
                    </div>
                  </div>
                  `;
                const dns_data = {type: 'tool', name: name}
                editor.addNode(name, 0, 0, pos_x, pos_y, name, dns_data, trcrtdns );
                break;
            }
            
          }
        

      }
      
    }

  const transform = '';
  function showpopup(e) {
    e.target.closest(".drawflow-node").style.zIndex = "9999";
    e.target.children[0].style.display = "block";
    //document.getElementById("modalfix").style.display = "block";

    //e.target.children[0].style.transform = 'translate('+translate.x+'px, '+translate.y+'px)';
    transform = editor.precanvas.style.transform;
    editor.precanvas.style.transform = '';
    editor.precanvas.style.left = editor.canvas_x +'px';
    editor.precanvas.style.top = editor.canvas_y +'px';
    console.log(transform);

    //e.target.children[0].style.top  =  -editor.canvas_y - editor.container.offsetTop +'px';
    //e.target.children[0].style.left  =  -editor.canvas_x  - editor.container.offsetLeft +'px';
    editor.editor_mode = "fixed";

  }

   function closemodal(e) {
     e.target.closest(".drawflow-node").style.zIndex = "2";
     e.target.parentElement.parentElement.style.display  ="none";
     //document.getElementById("modalfix").style.display = "none";
     editor.precanvas.style.transform = transform;
       editor.precanvas.style.left = '0px';
       editor.precanvas.style.top = '0px';
      editor.editor_mode = "edit";
   }

    function changeModule(event) {
      const all = document.querySelectorAll(".menu ul li");
        for (const i = 0; i < all.length; i++) {
          all[i].classList.remove('selected');
        }
      event.target.classList.add('selected');
    }

    function changeMode(option) {

    //console.log(lock.id);
      if(option == 'lock') {
        lock.style.display = 'none';
        unlock.style.display = 'block';
      } else {
        lock.style.display = 'block';
        unlock.style.display = 'none';
      }
    }

  </script>

</div>
{% endblock %}
